{{ define "main" }}
<div class="level">
    <div class="level-left">
        <h1 class="title is-1 mb-0">{{ .Location }} &mdash; {{.TempNow}}&deg;</h1>
        {{ if .IsCached }}
        <span style="color: grey">[cached]</span>
        {{ else }}
        <span style="color: green; font-weight:bold;">fresh</span>
        {{ end }}
    </div>
    <div class="level-right">
        <a href="/" class="button is-light">&larr; Home</a>
    </div>
</div>

<div class="table-container">
    <table class="table">
        <tbody>
            <tr>
                <td class="has-text-weight-bold" style="width: 15%">Now</td>
                <td>{{ .TempNow }}</td>
            </tr>
            <tr>
                <td class="has-text-weight-bold" style="width: 15%">Feels Like</td>
                <td>{{ .FeelsLike }}</td>
            </tr>
            <tr>
                <td class="has-text-weight-bold" style="width: 15%">Today High</td>
                <td>{{ .TodayHigh }}</td>
            </tr>
            <tr>
                <td class="has-text-weight-bold" style="width: 15%">Today Low</td>
                <td>{{ .TodayLow }}</td>
            </tr>
        </tbody>
    </table>
</div>

<h2 class="title is-4">Other Cities</h2>

<div class="columns">
    <div class="column is-12">
        <ul class="city-list">
            <li><a href="/perth">👑 Perth</a></li>
            <li><a href="/adelaide">Adelaide</a></li>
            <li><a href="/brisbane">Brisbane</a></li>
            <li><a href="/canberra">Canberra</a></li>
            <li><a href="/darwin">Darwin</a></li>
            <li><a href="/hobart">Hobart</a></li>
            <li><a href="/melbourne">Melbourne</a></li>
            <li><a href="/sydney">Sydney</a></li>
        </ul>
    </div>
</div>

{{ end }}
